/******************************************************
Common stuff
******************************************************/

WalletFrame,
QDialog {
    background-color: #444;
}

QStatusBar {
    background-color: #555;
    color: #ccc;
}

QMessageBox {
    background-color: #555;
}

QWidget { /* override text selection background color for all text widgets */
    selection-background-color: #999;
}

QCheckBox,
QLabel,
QListView,
QRadioButton,
QTreeWidget { /* Base Text Size & Color */
    color: #ccc;
}

/******************************************************
QMenu
******************************************************/

QMenu {
    background-color: #555;
}

QMenu::item {
    color: #ccc;
}
QMenu::item:selected {
    background-color: #666;
    color: #ddd;
}

/******************************************************
QToolBar / QToolButton
******************************************************/

/***** No dark.css specific coloring here yet *****/

/******************************************************
QMenuBar
******************************************************/

QMenuBar {
    background-color: #333;
}

QMenuBar::item:selected {
    background-color: #333;
    color: #1c75bc;
}

/******************************************************
QTextEdit
******************************************************/

QTextEdit {
    border: #333;
    background-color: #555;
    color: #ccc;
}

/******************************************************
QLineEdit / QValidatedLineEdit / QPlainTextEdit
******************************************************/

.QValidatedLineEdit,
.QLineEdit,
QPlainTextEdit { /* Text Entry Fields */
    background-color:#333;
    border-color: #1c75bc;
    color: #aaa;
}

.QValidatedLineEdit:disabled,
.QLineEdit:disabled {
    background-color: #3e3e3e;
}

/******************************************************
QComboBox
******************************************************/

QComboBox { /* Dropdown Menus */
    background: #333;
    border-color: #1c75bc;
    color: #aaa;
}

QComboBox:checked {
    background: #3e3e3e;
}

QComboBox:editable {
    background: #1c75bc;
    color: #616161;
}

QComboBox QListView {
    background-color: #555;
    color: #aaa;
}

QComboBox::item {
    color: #aaa;
}

QComboBox::item:alternate {
    background: #444;
}

QComboBox::item:selected {
    background: #666;
    color: #ccc;
}

/******************************************************
QAbstractSpinBox
******************************************************/

QAbstractSpinBox,
QAbstractSpinBox::up-button,
QAbstractSpinBox::down-button {
    background: #333;
    border-color: #1c75bc;
    color: #aaa;
}

/******************************************************
QHeaderView
******************************************************/

QHeaderView::section { /* Table Header Sections */
    background-color: #1c75bc;
    border-color: #ccc;
    color: #ccc;
}

/******************************************************
QTableView
******************************************************/

.QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
    background-color: #333;
}

QTableView::item { /* Table Item */
    background-color: #333;
}

QTableView::item:selected { /* Table Item Selected */
    background-color: #555;
    color: #ccc;
}

/******************************************************
QScrollArea
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
QScrollBar
******************************************************/

/* Do NOT apply any styles to QScrollBar here,
* it's OS dependent and should be handled via platform specific code.
*/

/******************************************************
QTableWidget
******************************************************/

.QTableWidget {
    background-color: #333;
}

/******************************************************
QTabWidget
******************************************************/

.QTabWidget {
    border-color: #444;
}

.QTabWidget::pane {
    background-color: #444;
    border-color: #333;
}

.QTabWidget QTabBar::tab {
    background-color: #ccc;
    border-color: #333;
    color: #444;
}

.QTabWidget QTabBar::tab:first,
.QTabWidget QTabBar::tab:last {
    border-color: #333;
}

.QTabWidget QTabBar::tab:selected,
.QTabWidget QTabBar::tab:hover {
    background-color: #555;
    color: #ccc;
}

.QTabWidget .QWidget {
    color: #444;
}

/******************************************************
QPushButton - Special case, light buttons
******************************************************/

QWidget#AddressBookPage QPushButton#newAddress:disabled,
QWidget#AddressBookPage QPushButton#copyAddress:disabled,
QWidget#AddressBookPage QPushButton#showAddressQRCode:disabled,
QWidget#AddressBookPage QPushButton#deleteAddress:disabled,
QDialog#OpenURIDialog QPushButton#selectFileButton:disabled,
QDialog#SendCoinsDialog .QPushButton#addButton:disabled,
QDialog#SendCoinsDialog .QPushButton#clearButton:disabled,
QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:disabled,
QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:disabled,
QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:disabled,
QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:disabled,
QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:disabled {
    background-color: #666;
    border:1px solid #585858;
    color: #787878;
}

/******************************************************
QProgressDialog
******************************************************/

.QProgressDialog {
    background-color: #444;
    color: #ccc;
}

/******************************************************
ShutdownWindow
******************************************************/

QWidget#ShutdownWindow {
    background-color: #444;
}

/******************************************************
OpenURIDialog
******************************************************/

QDialog#OpenURIDialog {
    background-color: #555;
}

/******************************************************
SignVerifyMessageDialog
******************************************************/

QDialog#SignVerifyMessageDialog {
    background-color: #555;
}

/******************************************************
AddressBookPage
******************************************************/

QWidget#AddressBookPage {
    background-color: #555;
}

QWidget#AddressBookPage QTableView::item {
    color: #aaa;
}

/******************************************************
AskPassphraseDialog
******************************************************/

QDialog#AskPassphraseDialog {
    background-color: #555;
}

/******************************************************
OptionsDialog
******************************************************/

QDialog#OptionsDialog {
    background-color: #555;
}

QDialog#OptionsDialog QGroupBox {
    color: #ccc;
}

/******************************************************
RPCConsole
******************************************************/

QWidget#RPCConsole { /* RPC Console Dialog Box */
    background-color: #333;
}

QWidget#RPCConsole QWidget#tab_peers QTableView { /* Peers Tables */
    color: #aaa;
}

/******************************************************
HelpMessageDialog
******************************************************/

QDialog#HelpMessageDialog QScrollArea * {
    background-color: #555;
}

/******************************************************
AboutDialog
******************************************************/

/***** No dark.css specific coloring here yet *****/

/******************************************************
EditAddressDialog
******************************************************/

/***** No dark.css specific coloring here yet *****/

/******************************************************
OverviewPage Balances
******************************************************/

/***** No dark.css specific coloring here yet *****/

/******************************************************
OverviewPage PrivateSend
******************************************************/

/***** No dark.css specific coloring here yet *****/

/******************************************************
OverviewPage RecentTransactions
******************************************************/

/***** No dark.css specific coloring here yet *****/

/******************************************************
ModalOverlay
******************************************************/

QWidget#bgWidget { /* The frame overlaying the overview-page */
    background:rgba(50, 50, 50, 0.8);
    color:#616161;
}

QWidget#contentWidget { /* The actual content with the text/buttons/etc... */
    background-color: #444;
    border: 1px solid #555;
    border-radius: 10px;
}

/******************************************************
SendCoinsDialog
******************************************************/

QDialog#SendCoinsDialog QLabel#labelBalance {
    margin-left:0px;
    padding-left:0px;
    color: #ccc;
    /* font-weight:bold;
    border-radius:5px;
    padding-top:20px;
    padding-bottom:20px; */
    min-height:27px;
}

/******************************************************
SendCoinsEntry
******************************************************/

QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel { /* Send Coin Entry Labels */
    color: #ccc;
}

/******************************************************
CoinControlDialog
******************************************************/

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected { /* Coin Control Item (selected) */
    background-color: #666;
    color: #ccc;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked { /* Coin Control Item (checked) */
    background-color: #333;
    color: #ccc;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { /* Coin Control Branch Icon */
    background-color: #666;
    color: #ccc;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { /* Coin Control Branch Icon */
    background-color: #333;
    color: #ccc;
}

/******************************************************
ReceiveCoinsDialog
******************************************************/

QWidget#ReceiveCoinsDialog .QFrame#frame QTableView#recentRequestsView::item { /* Recent Requests Table */
    color: #aaa;
}

/******************************************************
TransactionView
******************************************************/

/***** No dark.css specific coloring here yet *****/

/******************************************************
MasternodeList
******************************************************/

QWidget#MasternodeList QTableWidget#tableWidgetMasternodesDIP3 {
    color: #aaa;
}
