/******************************************************
Common stuff
******************************************************/

WalletFrame,
QDialog {
	background-color: #fff;
}

QStatusBar {
	background-color:#ffffff;
}

QMessageBox {
	background-color:#F8F6F6;
}

QWidget { /* override text selection background color for all text widgets */
	selection-background-color: #999;
}

QCheckBox,
QLabel,
QListView,
QRadioButton,
QTreeWidget { /* Base Text Size & Color */
	color:#333333;
}

/******************************************************
QMenu
******************************************************/

QMenu {
	background-color:#f8f6f6;
}

QMenu::item {
	color:#333;
}

QMenu::item:selected {
	background-color: #ffffff;
	color: #008de4;
}

/******************************************************
QToolBar / QToolButton
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
QMenuBar
******************************************************/

QMenuBar {
	background-color:#fff;
}

/******************************************************
QTextEdit
******************************************************/

QTextEdit {
	border-color: #d7d7d7;
}

/******************************************************
QLineEdit / QValidatedLineEdit / QPlainTextEdit
******************************************************/

.QValidatedLineEdit, .QLineEdit, QPlainTextEdit { /* Text Entry Fields */
	background-color:#fcfcfc;
	border-color: #82C3E6;
}

.QValidatedLineEdit:disabled, .QLineEdit:disabled {
	background-color:#f2f2f2;
}

/******************************************************
QComboBox
******************************************************/

QComboBox { /* Dropdown Menus */
	background:#fcfcfc;
	border-color: #82C3E6;
	color:#818181;
}

QComboBox:checked {
	background:#f2f2f2;
}

QComboBox:editable {
	background: #1c75bc;
	color:#616161;
}

QComboBox QListView {
	background:#fff;
}

QComboBox::item {
	color:#818181;
}

QComboBox::item:alternate {
	background:#fff;
}

QComboBox::item:selected {
	background:#f2f2f2;
}

/******************************************************
QAbstractSpinBox
******************************************************/

QAbstractSpinBox,
QAbstractSpinBox::up-button,
QAbstractSpinBox::down-button {
	background:#fcfcfc;
	border-color: #82C3E6;
	color:#818181;
}

/******************************************************
QHeaderView
******************************************************/

QHeaderView::section { /* Table Header Sections */
	background-color: #008de4;
	border-color: #fff;
	color:#fff;
}

/******************************************************
QTableView
******************************************************/

QTableView::item { /* Table Item */
	background-color:#fcfcfc;
}

QTableView::item:selected { /* Table Item Selected */
	background-color:#f0f0f0;
	color:#333;
}

/******************************************************
QScrollArea
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
QScrollBar
******************************************************/

/* Do NOT apply any styles to QScrollBar here,
* it's OS dependent and should be handled via platform specific code.
*/

/******************************************************
QTableWidget
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
QTabWidget
******************************************************/

.QTabWidget {
	border-color: #333;
}

.QTabWidget::pane {
	background-color:#fff;
	border-color: #d7d7d7;
}

.QTabWidget QTabBar::tab {
	background-color:#f2f0f0;
	border-color: #d7d7d7;
	color:#333;
}

.QTabWidget QTabBar::tab:first,
.QTabWidget QTabBar::tab:last {
	border-color: #d7d7d7;
}

.QTabWidget QTabBar::tab:selected, .QTabWidget QTabBar::tab:hover {
	background-color:#ffffff;
	color:#333;
}

.QTabWidget .QWidget {
	color:#333;
}

/******************************************************
QPushButton - Special case, light buttons
******************************************************/

QWidget#AddressBookPage QPushButton#newAddress:disabled,
QWidget#AddressBookPage QPushButton#copyAddress:disabled,
QWidget#AddressBookPage QPushButton#showAddressQRCode:disabled,
QWidget#AddressBookPage QPushButton#deleteAddress:disabled,
QDialog#OpenURIDialog QPushButton#selectFileButton:disabled,
QDialog#SendCoinsDialog .QPushButton#addButton:disabled,
QDialog#SendCoinsDialog .QPushButton#clearButton:disabled,
QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:disabled,
QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:disabled,
QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:disabled,
QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:disabled,
QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:disabled {
    background-color: #e2e2e2;
    border:1px solid #d2d2d2;
	color: #d2d2d2;
}

/******************************************************
QProgressDialog
******************************************************/

.QProgressDialog {
	background-color: #F8F6F6;
}

/******************************************************
ShutdownWindow
******************************************************/

QWidget#ShutdownWindow {
	background-color: #F8F6F6;
}

/******************************************************
OpenURIDialog
******************************************************/

QDialog#OpenURIDialog {
	background-color:#F8F6F6;
}

/******************************************************
SignVerifyMessageDialog
******************************************************/

QDialog#SignVerifyMessageDialog {
	background-color:#F8F6F6;
}

/******************************************************
AddressBookPage
******************************************************/

QWidget#AddressBookPage {
	background-color:#F8F6F6;
}

/******************************************************
AskPassphraseDialog
******************************************************/

QDialog#AskPassphraseDialog {
	background-color: #F8F6F6;
}

/******************************************************
OptionsDialog
******************************************************/

QDialog#OptionsDialog {
	background-color:#F8F6F6;
}

/******************************************************
RPCConsole
******************************************************/

QWidget#RPCConsole { /* RPC Console Dialog Box */
	background-color:#F8F6F6;
}

/******************************************************
HelpMessageDialog
******************************************************/

QDialog#HelpMessageDialog QScrollArea * {
	background-color:#ffffff;
}

/******************************************************
AboutDialog
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
EditAddressDialog
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
OverviewPage Balances
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
OverviewPage PrivateSend
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
OverviewPage RecentTransactions
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
ModalOverlay
******************************************************/

QWidget#bgWidget { /* The 'frame' overlaying the overview-page */
	background:rgba(250, 250, 250, 0.8);
}

QWidget#contentWidget { /* The actual content with the text/buttons/etc... */
	background-color: #fff;
	border: 1px solid #ccc;
    border-radius: 10px;
}

/******************************************************
SendCoinsDialog
******************************************************/

QDialog#SendCoinsDialog QLabel#labelBalance {
margin-left:0px;
padding-left:0px;
color:#333333;
/* font-weight:bold;
border-radius:5px;
padding-top:20px;
padding-bottom:20px; */
min-height:27px;
}

/******************************************************
SendCoinsEntry
******************************************************/

QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel { /* Send Coin Entry Labels */
    color: #333;
}

/******************************************************
CoinControlDialog
******************************************************/

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected { /* Coin Control Item (selected) */
	background-color:#f7f7f7;
	color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked { /* Coin Control Item (checked) */
	background-color:#f7f7f7;
	color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { /* Coin Control Branch Icon */
	background-color:#f7f7f7;
	color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { /* Coin Control Branch Icon */
	background-color:#f7f7f7;
	color:#333;
}

/******************************************************
ReceiveCoinsDialog
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
TransactionView
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
MasternodeList
******************************************************/

/***** No light.css specific coloring here yet *****/
