WalletFrame,
QDialog {
background-color: #fff;
border-top:0px solid #000;
margin:0;
padding-top:20px;
padding-bottom: 20px;
}

QStatusBar {
background-color:#ffffff;
}

.QFrame {
background-color:transparent;
border:0px solid #fff;
}

QMenuBar {
background-color:#fff;
}

QMenuBar::item {
background-color:#fff;
}

QMenuBar::item:selected {
background-color: #ffffff;
color: #008de4;
}

QMenu {
background-color:#f8f6f6;
}

QMenu::item {
color:#333;
}

QMenu::item:selected {
background-color: #ffffff;
color: #008de4;
}

QToolBar {
background-color:#008de4;
border:0;
padding:0;
margin:0;
}

QToolBar > QToolButton {
background-color:#008de4;
border:0;
font-size: 14px;
min-width: 70px;
min-height: 48%;
max-height: 48%;
padding: 0 10px;
margin: 0;
color:#f5f5f5;
}

QTextEdit {
	border:1px solid #d7d7d7;
}

QToolBar > QToolButton:checked {
border: 0;
font-weight: bold;
}

QToolBar > QToolButton:disabled {
color: #444;
}

QToolBar > QLabel {
border:0;
margin:10px 0 0 0;
}

QMessageBox {
background-color:#F8F6F6;
}

/*******************************************************/

QCheckBox,
QLabel,
QListView,
QRadioButton,
QTreeWidget { /* Base Text Size & Color */
font-size:12px;
color:#333333;
}

.QValidatedLineEdit, .QLineEdit { /* Text Entry Fields */
border: 1px solid #82C3E6;
font-size:11px;
min-height:31px;
outline:0;
padding: 0px 3px 0px 3px;
background-color:#fcfcfc;
}

.QLineEdit:!focus {
font-size:12px;
}

.QValidatedLineEdit:disabled, .QLineEdit:disabled {
background-color:#f2f2f2;
}

QWidget { /* override text selection background color for all text widgets */
selection-background-color: #999;
}

/*******************************************************/

QPushButton { /* Global Button Style */
background-color: #008DE4;
border:0;
border-radius:8px;
color:#ffffff;
font-size:12px;
font-weight:normal;
height: 26px;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QPushButton:hover {
background-color:  #262626;
}

QPushButton:focus {
border:none;
outline:none;
}

QPushButton:pressed {
border:1px solid #333;
}

QPushButton:disabled {
background-color: #666;
}

QComboBox { /* Dropdown Menus */
border:1px solid #82C3E6;
padding: 0px 5px 0px 5px;
background:#fcfcfc;
min-height:31px;
color:#818181;
}

QComboBox:checked {
background:#f2f2f2;
}

QComboBox:editable {
background: #1c75bc;
color:#616161;
border:0px solid transparent;
}

QComboBox::drop-down {
width:25px;
border:0px;
}

QComboBox QListView {
background:#fff;
padding: 3px;
}

QComboBox QAbstractItemView::item { margin:4px; }

QComboBox::item {
color:#818181;
}

QComboBox::item:alternate {
background:#fff;
}

QComboBox::item:selected {
border:0px solid transparent;
background:#f2f2f2;
}

QComboBox::indicator {
background-color:transparent;
selection-background-color:transparent;
color:transparent;
selection-color:transparent;
}

QAbstractSpinBox {
border:1px solid #82C3E6;
padding: 0px 5px 0px 5px;
background:#fcfcfc;
min-height:31px;
color:#818181;
}

QAbstractSpinBox::up-button {
subcontrol-origin: border;
subcontrol-position: top right;
width:21px;
background:#fcfcfc;
border-left:0px;
border-right:1px solid #82C3E6;
border-top:1px solid #82C3E6;
border-bottom:0px;
padding-right:1px;
padding-left:5px;
padding-top:2px;
}

QAbstractSpinBox::down-button {
subcontrol-origin: border;
subcontrol-position: bottom right;
width:21px;
background:#fcfcfc;
border-top:0px;
border-left:0px;
border-right:1px solid #82C3E6;
border-bottom:1px solid #82C3E6;
padding-right:1px;
padding-left:5px;
padding-bottom:2px;
}

/*******************************************************/

QHeaderView { /* Table Header */
background-color:transparent;
}

QHeaderView::section { /* Table Header Sections */
qproperty-alignment:center;
background-color: #008de4;
color:#fff;
min-height:25px;
font-weight:bold;
font-size:11px;
outline:0;
border:0px solid #fff;
border-right:1px solid #fff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
}

QHeaderView::section:last {
border-right: 0px solid #d7d7d7;
}

.QScrollArea {
background:transparent;
border:0px;
}

.QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
border:0px solid #fff;
}

QTableView::item { /* Table Item */
background-color:#fcfcfc;
font-size:12px;
}

QTableView::item:selected { /* Table Item Selected */
background-color:#f0f0f0;
color:#333;
}

/* Do NOT apply any styles to QScrollBar here,
 * it's OS dependent and should be handled via platform specific code.
*/

/*******************************************************/

.QTabWidget {
border-bottom:1px solid #333;
}

.QTabWidget::pane {
border: 1px solid #d7d7d7;
background-color:#fff;
}

.QTabWidget QTabBar::tab {
background-color:#f2f0f0;
color:#333;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
border-top: 1px solid #d7d7d7;
}

.QTabWidget QTabBar::tab:first {
border-left: 1px solid #d7d7d7;
}

.QTabWidget QTabBar::tab:last {
border-right: 1px solid #d7d7d7;
}

.QTabWidget QTabBar::tab:selected, .QTabWidget QTabBar::tab:hover {
background-color:#ffffff;
color:#333;
}

.QTabWidget .QWidget {
color:#333;
}

.QTabWidget .QWidget QAbstractSpinBox {
}

.QTabWidget .QWidget QAbstractSpinBox::down-button {
}

.QTabWidget .QWidget QAbstractSpinBox::up-button {
}

.QTabWidget .QWidget QComboBox {
}

/* DIALOG BOXES */

.QProgressDialog {
background-color: #F8F6F6;
}

QDialog QWidget { /* Remove Annoying Focus Rectangle */
outline: 0;
}

/* SHUTDOWN WINDOW */

QWidget#ShutdownWindow {
background-color: #F8F6F6;
}

/*******************************************************/
/* FILE MENU */

/* Dialog: Open URI */
QDialog#OpenURIDialog {
background-color:#F8F6F6;
}

QDialog#OpenURIDialog QLabel#label { /* URI Label */
font-weight:bold;
}

QDialog#OpenURIDialog QPushButton#selectFileButton { /* ... Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:pressed {
border:1px solid #9e9e9e;
}

/* Dialog: Sign / Verify Message */
QDialog#SignVerifyMessageDialog {
background-color:#F8F6F6;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM { /* Address Book Button */
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPlainTextEdit { /* Message Signing Text */
border:1px solid #82C3E6;
background-color:#fff;
}

QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM { /* Paste Button */
background-color:transparent;
padding-left:15px;
}

QDialog#SignVerifyMessageDialog QLineEdit:!focus { /* Font Hack */
font-size:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM { /* Copy Button */
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM { /* Clear Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:pressed {
border:1px solid #9e9e9e;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM { /* Verify Message - Address Book Button */
background-color:transparent;
border:0;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM { /* Verify Message - Clear Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:pressed {
border:1px solid #9e9e9e;
}

/* Dialog: Send and Receive */
QWidget#AddressBookPage {
background-color:#F8F6F6;
}

QWidget#AddressBookPage QPushButton#newAddress { /* New Address Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#newAddress:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#AddressBookPage QPushButton#newAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QPushButton#copyAddress { /* Copy Address Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#copyAddress:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#AddressBookPage QPushButton#copyAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QPushButton#showAddressQRCode { /* Show Address QR code Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#showAddressQRCode:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#AddressBookPage QPushButton#showAddressQRCode:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QPushButton#deleteAddress { /* Delete Address Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color:#616161;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#deleteAddress:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color:#333;
}

QWidget#AddressBookPage QPushButton#deleteAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QTableView { /* Address Listing */
font-size:12px;
}

QWidget#AddressBookPage QHeaderView::section { /* Min width for Windows fix */
min-width:260px;
}

/* SETTINGS MENU */

/* Encrypt Wallet and Change Passphrase Dialog */
QDialog#AskPassphraseDialog {
background-color:#F8F6F6;
}

QDialog#AskPassphraseDialog QLabel#passLabel1, QDialog#AskPassphraseDialog QLabel#passLabel2, QDialog#AskPassphraseDialog QLabel#passLabel3 {
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:170px;
min-height:33px; /* base width of 25px for QLineEdit, plus padding and border */
}

/* Options Dialog */
QDialog#OptionsDialog {
background-color:#F8F6F6;
}

QDialog#OptionsDialog QValueComboBox, QDialog#OptionsDialog QSpinBox {
}

QDialog#OptionsDialog QValidatedLineEdit, QDialog#OptionsDialog QValidatedLineEdit:disabled, QDialog#OptionsDialog QLineEdit, QDialog#OptionsDialog QLineEdit:disabled {
qproperty-alignment: 'AlignVCenter | AlignLeft';
}

QDialog#OptionsDialog > QLabel {
qproperty-alignment: 'AlignVCenter';
min-height:20px;
}

QDialog#OptionsDialog QWidget#tabDisplay QValueComboBox {
}

QDialog#OptionsDialog QLabel#label_3 { /* Translations Missing? Label */
qproperty-alignment: 'AlignVCenter | AlignCenter';
color:#818181;
padding-bottom:8px;
}

/******************************************************
RPCConsole
******************************************************/

QWidget#RPCConsole { /* RPC Console Dialog Box */
	background-color:#F8F6F6;
}

/******************************************************
HelpMessageDialog
******************************************************/

QDialog#HelpMessageDialog QScrollArea * {
	background-color:#ffffff;
}

/******************************************************
AboutDialog
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
EditAddressDialog
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
OverviewPage Balances
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
OverviewPage PrivateSend
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
OverviewPage RecentTransactions
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
ModalOverlay
******************************************************/

QWidget#bgWidget { /* The 'frame' overlaying the overview-page */
	background:rgba(250, 250, 250, 0.8);
}

QWidget#contentWidget { /* The actual content with the text/buttons/etc... */
	background-color: #fff;
	border: 1px solid #ccc;
    border-radius: 10px;
}

/******************************************************
SendCoinsDialog
******************************************************/

QDialog#SendCoinsDialog QLabel#labelBalance {
margin-left:0px;
padding-left:0px;
color:#333333;
/* font-weight:bold;
border-radius:5px;
padding-top:20px;
padding-bottom:20px; */
min-height:27px;
}

/******************************************************
SendCoinsEntry
******************************************************/

QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel { /* Send Coin Entry Labels */
    color: #333;
}

/******************************************************
CoinControlDialog
******************************************************/

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected { /* Coin Control Item (selected) */
	background-color:#f7f7f7;
	color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked { /* Coin Control Item (checked) */
	background-color:#f7f7f7;
	color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { /* Coin Control Branch Icon */
	background-color:#f7f7f7;
	color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { /* Coin Control Branch Icon */
	background-color:#f7f7f7;
	color:#333;
}

/******************************************************
ReceiveCoinsDialog
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
TransactionView
******************************************************/

/***** No light.css specific coloring here yet *****/

/******************************************************
MasternodeList
******************************************************/

/***** No light.css specific coloring here yet *****/
