/******************************************************
ModalOverlay
******************************************************/

QWidget#bgWidget { /* The frame overlaying the overview-page */
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fafafacc;
}

QWidget#contentWidget { /* The actual content with the text/buttons/etc... */
    background-color: #fff;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid;
    border-radius: 6px;
}

/******************************************************
OverviewPage
******************************************************/

QWidget .QFrame#frame .QLabel#labelWalletStatus, /* Wallet Sync Status */
QWidget .QFrame#framePrivateSend .QLabel#labelPrivateSendSyncStatus, /* PrivateSend Sync Status */
QWidget .QFrame#frame_2 .QLabel#labelTransactionsStatus { /* Recent Transactions Sync Status */
    color: red;
}

/******************************************************
SendCoinsDialog
******************************************************/

QDialog#SendCoinsDialog QLabel#labelBalance {
    margin-left: 0px;
    padding-left: 0px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlInsuffFunds { /* Insufficient Funds Label */
    color: red;
}
